settings.py
Tst.nc
*.bat
*.pyc
*.idea
*.json
*.gitignore
*.swp
*.nc
*.js.swp
*/static/tables/*
*/static/data/*
*/static/Leaflet/myPNG/*
Archive/
Updates/
*/static/docs/*
*/static/eems/models/*
*/static/eems/uploads/*
*.sqlite3
overlay/
histogram/
delete/
