#project{
	display:block;
}

#home{
	display:none;
}
#header {
    background: #1D4B27;
	background: #44573E;
	background: #436554;
	background: #3a5a4a;

}

.partners_table{
	float:right
}
.partners_table img{
	height:80px;
}

#title {
	color: white;
	font-family: helvetica;
	font-size: 30px;
	line-height: 60px;
	font-weight: bold;
	/* margin-left: 20px; */
	padding-left: 110px;
	text-shadow: none;

}


#nav_bar ul{
	background-color:#E36831;
	background-color:#E06525;
	background-color:#D45F22;
	background-color:#426D86;
	background-color:#647680;
	background-color:#7B614A;
	background-color:#6D3811;
	background-color:#5378AD;
	background-color:#E06525;
	background-color:#B18D69;
	background-color:#B66355;
	background-color:#A2675A;
	background-color:#B2693C;
	background-color:#B25D3C;
}

.center_text_block_contents li{
	float:none;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 10px 16px;
	text-decoration: none;
	font-family: Verdana;
	font-size: .9em;
	letter-spacing: 0px;
}

/*
li a.active {
	color: white;
	background-color: #4CAF50;
}
*/
li a.active {
	color: #545454;
}

#ssn_logo {
	height: 50px;
	top: 10px;
	position: absolute;
}

#eems_div {
	line-height: 16px;
	font-variant: all-petite-caps;
	font-size: 1.2em;
	font-family: Helvetica;
	letter-spacing: 1px;
	text-indent: 0px;
	text-shadow: 0 0 0 black;
	float: left;
	position: relative;
	margin-right: 6px;
	float: right;
	top: 17px;
}


#eems_link{
	color:white;
	float:left;
	font-weight: Bold;
}

#eems_link:hover {
	text-decoration: none;

}

#eems_logo {
	height: 40px;
	float: right;
}

#powered_by {
	font-size: .7em;
	font-weight: normal;
	/* Letter spacing, browser specific, below */
}

/* Lettter spacing for Firefox */
@-moz-document url-prefix() {
	#powered_by{
		letter-spacing:5px !important;
	}
}

/* Lettter spacing for Chrome */
@media screen and (-webkit-min-device-pixel-ratio:0)
and (min-resolution:.001dpcm) {
	#powered_by{
		letter-spacing:4px
	}
}

#project_img {
	float: left;
	margin: 0px 20px 10px 0px;
}

#report{
	display:none;
}

.header_image {
	width: 400px
}

.center_text_block {
	display: none;
	position: absolute;
	top: 50px;
	padding: 20px 60px 100px 60px;
	font-family: tahoma;
	color: #333;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
	width: calc(100% - 140px);
}

.center_text_block h2 {
	background-color: #e6e6e6;
	padding: 18px;
	border-radius: 0px;
	color: #5d5d5d;
	margin-bottom: 35px;
    font-family: verdana;
	font-size:1.3em;

}

#contact {
	white-space: nowrap;
	display: none;
	position: absolute;
	top: 106px;
	padding: 20px 60px 100px 60px;
	font-family: tahoma;
	color: #5d5d5d;
}

#footer {
	font-size: 12px;
	font-family: verdana;
	color: #5d5d5d;
	bottom: 0px;
	right: 0px;
	position: fixed;
	text-align: right;
	z-index: 9999999;
	width: 101%;
	background-color: #E6E6E6;
	margin-left: 0px;
	margin-right: 0px;
	padding-right: 20px;
	padding-top: 2px;
	line-height: 13px;
	opacity: 0.9;
}

#footer a {
	color: #5d5d5d;
}

