body {
    margin:0px;
}

#header {
	background-color: #445272;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 70px;
	border-bottom: 1px solid #B6BFD3;
}

#title {
	height: 70px;
	line-height: 65px;
	padding-left: 20px;
	font-variant: all-petite-caps;
	font-size: 2.3em;
	color: #FFF;
	text-shadow: 0px 0px 1px black;
	width: 250px;
	Font-family: garamond;
	font-weight: Bold;
	letter-spacing: 1px;
	padding-left: 150px;
	text-indent: -13px;
	z-index: 999;
	position: absolute;
}

#logo_l {
	float: left;
	position: absolute;
	height: 82px;
	left: -130px;
	top: -11px;
	float: left;
	opacity: .6;
}

#logo_r {
    float: left;
    position: absolute;
    height: 82px;
    left: 310px;
    top: -11px;
    float: left;
}

#MEEMSE_node_count_legend{
    visibility:hidden;
    position:relative;
    top:0px;
    left:15px;
    height:10px;
    width:150px;
    float:left;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#aaaaaa+0,aaaaaa+14,bbaaaa+14,bbaaaa+28,ccaaaa+28,ccaaaa+42,ddaaaa+42,ddaaaa+56,eeaaaa+56,eeaaaa+70,ffaaaa+70,ffaaaa+84,a6c8a6+84,a6c8a6+100 */
}

#MEEMSE_node_count_legend_table{
    font-size:9px;
    width:100%
}

#MEEMSE_node_count_legend_table td{
    color:#606060;
    text-align:center;
    width:14%;
    min-width:14%;
    height:10px;
    min-height:10px;
    cursor:default;
}

#MEEMSE_node_count_legend_table th{
    background-color:#EDEDED;
}

.EEMS_Tree_Value{
   font-weight:bold;
    color:#C44539;
}

.EEMS_Tree_Operation {
    width:100%;
    margin-left:0px;
    margin-right:0px;
    text-align:center;
    position:absolute;
    bottom: 1px;
    padding-bottom:3px;
    left:0px;
    vertical-align:bottom;
    font-size:.9em;
    font-style:italic;
    font-weight:normal;
    cursor:help;
    white-space:nowrap;
    bottom:0px;
    color: #4E4E4E;
    background-color:#C6C2CC !important;
    border-color:#5D5D5D;
    border-width: 1px 0px 1px 0px;
    border-style: solid;
}

input, select {
    font-size:0.9em;
}

h4 {
    font-size:1.1em;
    text-decoration:none;
    font-weight:normal;
    color:#23A4FF;
}

a {
    color:#23A4FF;
}

#map_container {
	height: calc(100% - 106px);
	width: 100%;
	position: absolute;
	top: 106px;
}

#map{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
    position: absolute;
    cursor: move;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    right: 0px;
    float: left;
    z-index:1;
}

#meemse_container {
	top: 195px;
	width: 50%;
	height: calc(100% - 265px);
	margin: 0 auto;
	margin-bottom: 0;
	position: absolute;
	cursor: move;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	right: 0px;
	float: right;
	z-index: 2;
	-webkit-transition: background 0.1s linear;
	-moz-transition: background 0.1s linear;
	-ms-transition: background 0.1s linear;
	-o-transition: background 0.1s linear;
	transition: background 0.1s linear;
	border-bottom-left-radius: 5px;
	background-color: rgba(255,255,255,0);
	box-shadow: 0px 0px 0px rgba(0,0,0,0);
	overflow: hidden;
	padding: 25px;
}

#meemse_container:hover {
    background-color: rgba(255,255,255,.5);
    box-shadow: 0px 0px 20px rgba(0,0,0,.1);
}

#center-container {
    height:100%;
    position:absolute;
    top:0;
}

#center-container {
    width:100%;
    left:200px;
    background-color:#1a1a1a;
    color:#ccc;
}

.text {
    margin: 7px;
}

#inner-details {
    font-size:0.9em;
    list-style:none;
    margin:20px;
}

#log {
	position: relative;
	text-align: center;
	width: 100%;
	top: -15px !important;
	font-size: 1.0em;
	font-weight: bold;
	color: #23A4FF;
	height: 40px;
}

.log_text_second_line {
	position: relative;
	left: -25px;
}

#infovis {
    position:relative;
    margin:auto;
    width:100%;
    height:100%;
    overflow:hidden;
    top:0px;
}

/*TOOLTIPS*/
.tip {
    color: #111;
    width: 159px;
    background-color: white;
    border:1px solid #ccc;
    -moz-box-shadow:#555 2px 2px 8px;
    -webkit-box-shadow:#555 2px 2px 8px;
    -o-box-shadow:#555 2px 2px 8px;
    box-shadow:#555 2px 2px 8px;
    opacity:0.9;
    filter:alpha(opacity=90);
    font-size:10px;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    padding:7px;
}

.alertify {
	top: 198px !important;
	width: 680px !important;
	right: 100px !important;
	left: unset !important;
}

#change_operator_form {
	padding: 10px 15px 20px 25px;
}

.eems_changed_node_style{
    background-color:yellow !important;
}

#nav_bar {
	top: 70px;
	position: relative;
	left: 0px;
}

#nav_bar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border-width: 1px 0px 1px 0px;
    border-color: #e7e7e7;
	background-color: #444;
}

li {
    float: left;
}

li a {
	display: block;
	/* color: #e0e0e0; */
    color: #d7d7d7;
	text-align: center;
	padding: 8px 16px;
	text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
    color: black;
}

li a.active {
    color: white;
    background-color: #4CAF50;
}

#control_panel {
	box-shadow: 0px 0px 20px rgba(0,0,0,.2);
	position: absolute;
	float: right;
	top: 106px;
	right: 0px;
	background-color: rgba(255,255,255,.7);
	padding: 15px 25px 15px 25px;
	width: 50%;
	min-width: 750px;
	z-index: 999;
	font-family: tahoma;
	font-size: 16px;
}

#files_label {
	position: relative;
	float: right;
	margin-left: 30px;
	height:26px;
}

#link_label {
	position: absolute;
	float: right;
	display: none;
	top: 31px;
	width: 83px;
	right: 0px;
	font-size: .95em;
	padding: 0px 10px;
	margin-right: 8px;
	height: 22px;
}

#link_text {
	margin:0px 0px 0px 15px;
}

#download_label {
	position: absolute;
	float: right;
	display: none;
	top: 5px;
	right: 0px;
	font-size: .95em !important;
	padding: 0px 10px;
	margin-right: 8px;
	height: 22px;
}

.alertify-button-ok{
    margin:0px 15px;
}

#filename {
	float: left;
	position: absolute;
	display: inline;
	bottom: 0px;
	left: 80px;
	color: #7d7d7d;
	font-size: .9em;
	padding-bottom: 3px;
}

#link_img {
	width: 19px;
	position: relative;
	display: inline;
	float: right;
	left: 4px;
	top: 2px;
	height: 18px;
}

#download_file {
	width: 22px;
	position: relative;
	display: inline;
	float: right;
	left: 5px;
}

#download_spinner {
	display:none;
	width: 25px;
	position: relative;
	float:right;
	left: 5px;
}

#open_file {
	width: 25px;
	position: relative;
	display: inline;
    float:right;
	left: 5px;
}

.eems_controls {
	position:relative;
	height: 40px;
	border: 0;
	background-color: #ece9e9;
	color: #595858;
	border-radius: 5px;
	padding: 10px;
	font-size: .95em;
}

#current_file {
	float: left;
	line-height: 33px;
	margin-right: 13px;
	left: -5px;
}

#getting_started {
	position: relative;
	float: left;
	padding-left:18px;
}

.node_icon {
	position: relative;
	top: 3px;
	width: 28px;
	box-shadow: 0px 0px 1px #9C9C9C;
	opacity: .8;
}

.node_and_gear {
	position: relative;
	top: 5px;
	box-shadow: 1px 1px 2px #69676799;
	opacity: .8;
	float: left;
	margin-right: 10px;
}

#run_eems_div {
	float: right;
	width: 113px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	right: -8px;
}

#save_eems_div {
	display:none;
	float: right;
	width: 113px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	right: -8px;
}

#run_eems_button{
}

.disabled {
	background-color: #ccc !important;
	pointer-events: none;
}

#modify_eems_button{
    float:right;
}

#close_span {
    position:absolute;
    float:right;
    top:2px;
    right:3px;
}

#close_icon {
    height:14px;
}

#modify_span {
    position:absolute;
    float:right;
    top:3px;
    right:2px;
}


.modify_icon_class {
   height:16px;
}

#weighted_union_table td {
    padding-right:3px;
}

#model_run_complete_alert {
}

#model_run_complete_alert_text{
    color: #666565;
	position: absolute;
	font-size: 20px;
	margin-left: 25px;
}

#check_icon {
	height: 40px;
	margin-left: 30px;
	top: -10px;
	position: relative;
}

#user_defined_model {
	position: relative;
	float: right;
	padding-left: 5px;
}

#form_table td:first-child{
	vertical-align:top;
	max-width:330px;
	padding-left:10px;
}

#form_div {
	width: 550px;
	padding: 0px 0px 0px 0px;
}

.info {
    color: #464646;
	padding: 6px 8px;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
    max-width:700px;
}

.legend_png {
 	float:left;
	width:500px;
}

#spinner_div {
	display: none;
	background-color: rgba(255,255,255,1);
	height: calc(100% + 50px);
	width: calc(100% + 50px);
	float: left;
	position: absolute;
	z-index: 999;
	left: -25px;
	top: -25px;
	text-align:center;
	cursor:default;
}

#spinner_img {
	position: relative;
	height: 200px;
	top: 200px;
}

#spinner_text {
	position: relative;
	color: #7E7E7E;
	font-size: 1.5em;
	font-family: tahoma;
	top: 165px;
	left: 11px;
}

#download_div {
	color: #464646;
	width: 50px;
	z-index: 9999;
	position: absolute;
	left: -70px;
	top: 0px;
	height: 82px;
	font-size: .75em;
	text-align: center;
}

#download_img {
	width: 50px;
	position: relative;
	top: 0px;
}

#button_text{
	display:inline;
	float:left
}

#button_list {
	font-size: 0;
}

#button_div {
	position: absolute;
	z-index: 999;
	left:15%;
	top: 0px;
	display: none;
	width: 230px;
	height: 30px;
	color: #464646;
	padding: 6px 8px;
	border-radius: 5px;
}

a {
	cursor:pointer
}

ul.buttons {
}

ul.buttons li
{
    display: inline;
}

ul.buttons li a {
	font: 12px Verdana;
	font-weight:bold;
	position: relative;
	color: #878787;
	outline: none;
	background-color: #c4c4c4;
	box-shadow: inset 1px 2px 3px rgba(245,255,255,0.5);
	border:1px solid #C4C4C4;
}

ul.buttons li:first-child a {
	border-radius: 5px;
}

ul.buttons li:last-child a {
	margin-left:2px;
	border-radius: 5px;
}

ul.buttons li a:hover
{
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
    background-image: -moz-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
    background-image: -ms-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
    background-image: -o-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
    background-image: linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
}

ul.buttons li.selected a, ul.buttons li.selected a:hover {
	position: relative;
	top: 0px;
	font-weight: bold;
	background: #0092D1;
	color: white;
	box-shadow: inset 2px 2px 4px rgba(0,0,0,0.5);
	border:0px;
}

ul.buttons li.selected a:hover
{
	background-image: -webkit-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
	background-image: -moz-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
	background-image: -ms-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
	background-image: -o-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
	background-image: linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
}

.original_operator {
	background-color: orange;
	font-size: .75em;
	padding: 3px;
	width: 320px;
	margin-top: 10px;
}

.original_params {
	background-color: orange;
	font-size: .75em;
	padding: 3px;
	width: 650px;
	margin-top: 40px;
	z-index: 9999
}

.histogram_div {
	text-align: center;
}

.histogram_img_read {
	width: 500px;
	top: -17px;
	position: relative;
}

#histogram_img {
	width: 330px;
	top: -10px;
	position: relative;
	z-index: -1;
}

.alertify-buttons {
	bottom: 0px;
	width: 650px;
}

.leaflet-image-layer {
  display: none;
}

#link {
	width: 650px !important;
	cursor: default;
	resize: none;
	color: #4360ff;
	border: none;
	font-size: 1.2em;
	font-weight: bold;
	height: 20px;
}

#histogram_to_show_div {
	position: absolute;
	top: 10px;
	text-align: center;
	width: 330px;
	font-size: .9em;
	z-index: 999;
}

#helper_number_table {
	width: 100%;
	position: absolute;
	top: 0px;
}

#helper_number_table td{
	text-align:center;
}

.introjs-helperNumberLayer {
	visibility: visible;
	z-index: 9999999999 !important;
	/* padding: 2px; */
	font-family: Arial, verdana, tahoma;
	font-size: 1em;
	font-weight: bold;
	color: white;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(0,0,0,.3);
	background: #506C9C;
	width: 24px;
	height: 21px;
	line-height: 21px;
	border: 3px solid white;
	border-radius: 50%;
	/* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3019', endColorstr='#cf0404', GradientType=0); */
	filter: progid:DXImageTransform.Microsoft.Shadow(direction=135, strength=2, color=ff0000);
	float: left;
	position: absolute;
	top: -10px;
	left: -11px;
	cursor: help;
}

#run_the_model_number3{
	/* background:#58C00D; */
}


