body {
    margin:0px;
	overflow-x:hidden;
}

#about a {
	color: #0F7DCB;
}

a{
	text-decoration:none;
	color:#2D5190;
	cursor:pointer
}

a:hover{
	text-decoration:underline;
}

#header {
	background-color: #445272;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 70px;
	border-bottom: 1px solid #B6BFD3;
	z-index: 1;
}

#title {
	height: 70px;
	line-height: 65px;
	font-variant: all-petite-caps;
	font-size: 2.3em;
	color: #FFF !important;
	text-shadow: 0px 0px 1px black;
	width: 250px;
	font-family: garamond;
	font-weight: Bold;
	letter-spacing: 1px;
	padding-left: 150px;
	text-indent: -13px;
	z-index: 999;
	position: absolute;
}

#title a{
	color: #FFF !important;
}

#logo_l {
	float: left;
	position: absolute;
	height: 82px;
	left: -130px;
	top: -11px;
	opacity: .6;
}

#logo_r {
    float: left;
    position: absolute;
    height: 82px;
    left: 310px;
    top: -11px;
}

.EEMS_Tree_Value{
   font-weight:bold;
    color:#C44539;
}

.EEMS_Tree_Operation {
    width:100%;
    margin-left:0px;
    margin-right:0px;
    text-align:center;
    position:absolute;
    padding-bottom:3px;
    left:0px;
    vertical-align:bottom;
    font-size:.9em;
    font-style:italic;
    font-weight:normal;
    cursor:help;
    white-space:nowrap;
    bottom:0px;
    color: #4E4E4E;
    background-color:#C6C2CC !important;
    border-color:#5D5D5D;
    border-width: 1px 0px 1px 0px;
    border-style: solid;
}

input, select {
    font-size:0.9em;
}

h4 {
    font-size:1.1em;
    text-decoration:none;
    font-weight:normal;
    color:#23A4FF;
}

#map_container {
	height: calc(100% - 110px);
	width: 100%;
	position: absolute;
	top: 106px;
}

#map {
	width: 100%;
	height: calc(100% - 22.5px);
	margin: 0 auto;
	position: absolute;
	cursor: move;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	right: 0px;
	float: left;
	z-index: 1;
}

#meemse_container {
	width: calc(100% + 30px);
	height: calc(100% - 281px);
	margin: 0 auto;
	position: relative;
	cursor: move;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	left: 0px;
	float: left;
	z-index: 2;
	-webkit-transition: background 0.1s linear;
	-moz-transition: background 0.1s linear;
	-ms-transition: background 0.1s linear;
	-o-transition: background 0.1s linear;
	transition: background 0.1s linear;
	border-bottom-left-radius: 5px;
	background-color: rgba(255,255,255,.7);
	overflow: hidden;
	padding: 25px 5px 0px 5px;
	box-shadow: 0px 0px 20px rgba(0,0,0,.3);
	/* max-height: calc(100% - 415px); */
}

#meemse_container:hover {
    background-color: rgba(255,255,255,.9);
    box-shadow: 0px 0px 20px rgba(0,0,0,.5);
}

.meemse_resize_min{
	min-width:0px !important;
}

.fixed_meemse{
	position:fixed !important;
	top:0px !important;
	height:100% !important;
	width:100% !important;
	background-color:white !important;
	opacity:1 !important;
	z-index:999999 !important;
}


#center-container {
    height:100%;
    position:absolute;
    top:0;
}

#center-container {
    width:100%;
    left:200px;
    background-color:#1a1a1a;
    color:#ccc;
}

.text {
    margin: 7px;
}

#inner-details {
    font-size:0.9em;
    list-style:none;
    margin:20px;
}

#log {
	position: relative;
	text-align: center;
	width: 100%;
	top: -2px !important;
	font-size: 1.0em;
	font-weight: bold;
	color: #23A4FF;
	height: 30px;
}

.log_text_second_line {
	position: relative;
	left: -25px;
}

#infovis {
    position:relative;
    margin:auto;
    width:100%;
    height:100%;
    overflow:hidden;
    top:0px;
}

/*TOOLTIPS*/
.tip {
    color: #111;
    width: 159px;
    background-color: white;
    border:1px solid #ccc;
    -moz-box-shadow:#555 2px 2px 8px;
    -webkit-box-shadow:#555 2px 2px 8px;
    -o-box-shadow:#555 2px 2px 8px;
    box-shadow:#555 2px 2px 8px;
    opacity:0.9;
    filter:alpha(opacity=90);
    font-size:10px;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    padding:7px;
}

.alertify {
	top: 210px !important;
	width: 680px !important;
	left: 295px !important;
	right: unset !important;
}

div#alertify-cover {
    background-color: black;
    opacity: 0.4;
}

#change_operator_form {
	padding: 10px 15px 20px 25px;
}

.eems_changed_node_style{
    background-color:yellow !important;
}

#nav_bar {
	top: 70px;
	left: 0px;
	z-index: 2;
	position: fixed;
	width: 100%;
}

#nav_bar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border-width: 1px 0px 1px 0px;
	border-color: #e7e7e7;
	background-color: #444;
	height: 36px;
}

li {
    float: left;
}

li a {
	display: block;
	color: #d7d7d7;
	text-align: center;
	padding: 9px 16px;
	text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
    color: black;
}

li a.active {
    color: white;
    background-color: #4CAF50;
}

#control_panel_and_meemse_container {
	position: absolute;
	width: 680px;
	height: calc(100% - 140px);
	top: 106px;
	padding-right: 40px;
	z-index: 9999;
}

.control_panel {
	position: relative;
	float: left;
	left: 0px;
	background-color: rgba(255,255,255,1);
	padding: 15px 20px;
	width: 100%;
	z-index: 999;
	font-family: tahoma;
	font-size: 16px;
	box-shadow: 0px 0px 20px rgba(0,0,0,.2);
	overflow: hidden;
}

#run_and_save {
	position: absolute;
	height: 70px;
	width: calc(100% - 40px);
	bottom: 0px;
	z-index: 3;
}

#modify_model{

}

#files_label {
	position: relative;
	float: right;
	margin-left: 30px;
	height:26px;
}

.save_label {
	position: absolute;
	float: right;
	display: none;
	right: 28px;
	font-size: .95em !important;
	width: 130px;
	height: 18px;
	line-height: 17px !important;
}

#link_label {
	top: 36px;
	position:absolute;
}

#link_text {
	margin:0px 0px 0px 15px;
}

#download_label {
	top: 5px;
	position:absolute;
}

.alertify-button-ok{
}

#filename {
	float: left;
	position: absolute;
	display: inline;
	bottom: 0px;
	left: 80px;
	font-size: .9em;
	padding-bottom: 3px;
}

#link_img {
	width: 19px;
	position: relative;
	display: inline;
	float: right;
	left: 4px;
	top: 0px;
	height: 18px;
}

#download_file {
	width: 22px;
	position: relative;
	display: inline;
	float: right;
	left: 5px;
    top: -2px;
}

#download_spinner {
	display:none;
	width: 25px;
	position: relative;
	float:right;
	left: 5px;
}

#open_file {
	width: 25px;
	position: relative;
	display: inline;
    float:right;
	left: 5px;
}

.eems_controls {
	position: relative;
	height: 48px;
	border: 0;
	background-color: #ece9e9;
	color: #506C9C;
	font-weight: bold;
	border-radius: 5px;
	padding: 10px;
	font-size: .95em;
	margin-bottom:10px;
}

#current_file {
	float: left;
	line-height: 43px;
	margin-right: 13px;
	width: 308px;
}

#getting_started {
	float: right;
	font-size: .95em;
	width: calc(100% - 412px);
	text-align: left;
	z-index: 999;
	font-family: tahoma;
	line-height: 43px;
	position: absolute;
	left: 370px;
}

#getting_started_text {
	white-space: nowrap;
	overflow: hidden;
}

.node_icon {
	position: relative;
	top: 3px;
	width: 28px;
	box-shadow: 0px 0px 1px #9C9C9C;
	opacity: .8;
}

.node_and_gear {
	position: absolute;
	top: 19px;
	box-shadow: 1px 1px 2px #363535;
	opacity: .8;
	float: right;
	height: 25px;
	right: 9px;
}

#run_eems_div {
	float: left;
	width: 199px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	line-height: 10px;
	right: -8px;
}

#save_eems_div {
	display: none;
	float: left;
	width: 191px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	right: -8px;
	padding: 10px 14px;
}

#run_eems_button {
	position: relative;
	left: -2px;
	padding: 0px 14px;
	width: 160px;
}

.disabled {
	background-color: #ccc !important;
	pointer-events: none;
	color: #8A8A8A !important;
	text-shadow: unset !important;
}

#modify_eems_button{
    float:right;
}

#close_span {
    position:absolute;
    float:right;
    top:2px;
    right:3px;
}

#close_icon {
    height:14px;
}

#modify_span {
    position:absolute;
    float:right;
    top:3px;
    right:2px;
}

.modify_icon_class {
   height:16px;
}

#weighted_union_table td {
    padding-right:3px;
}

#alert_icon_div {
	position:relative;
	float: left;
}

#alert_icon {
	width: 100px;
	position: relative;
	top: -10px;
	left: -10px;
}

#error_alert {
	color: #666565;
	font-size: 1.2em;
	margin-left: 25px;
	margin-top: 10px;
	padding-right: 30px;
}

#error_alert_text {
	color: red;
	margin-top: 10px;
	margin-left: 49px;
}

#model_run_complete_alert {
}

#model_run_complete_alert_text{
    color: #666565;
	position: absolute;
	font-size: 20px;
	margin-left: 25px;
}

#check_icon {
	height: 40px;
	margin-left: 30px;
	top: -10px;
	position: relative;
}

#user_defined_model {
	position: relative;
	float: right;
	padding-left: 5px;
}

#form_table td:first-child{
	vertical-align:top;
	max-width:330px;
	padding-left:10px;
}

#form_div {
	width: 550px;
	padding: 0px 0px 0px 0px;
}

.info {
    color: #464646;
	padding: 6px 8px;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
    max-width:700px;
}

.legend_png {
	float: left;
	width: 400px;
}

#spinner_div {
	display: none;
	background-color: rgba(255,255,255,1);
	height: calc(100% + 50px);
	width: calc(100% + 50px);
	float: left;
	position: absolute;
	z-index: 999;
	left: -25px;
	top: -25px;
	text-align:center;
	cursor:default;
}

#spinner_img {
	position: relative;
	height: 200px;
	top: 200px;
}

#spinner_text {
	position: relative;
	color: #7E7E7E;
	font-size: 1.5em;
	font-family: tahoma;
	top: 165px;
	left: 11px;
}

#download_div {
	color: #464646;
	width: 50px;
	z-index: 9999;
	position: absolute;
	left: -70px;
	top: 0px;
	height: 82px;
	font-size: .75em;
	text-align: center;
}

#download_img {
	width: 50px;
	position: relative;
	top: 0px;
}

#button_text{
	display:inline;
	float:left
}

#button_list {
	font-size: 0;
}

#button_div {
	position: absolute;
	z-index: 2;
	right:15%;
	top: 0px;
	display: none;
	width: 230px;
	height: 30px;
	color: #464646;
	padding: 6px 8px;
	border-radius: 5px;
}

ul.buttons {
}

ul.buttons li
{
    display: inline;
}

ul.buttons li a {
	font: 12px Verdana;
	font-weight:bold;
	position: relative;
	color: #878787;
	outline: none;
	background-color: #c4c4c4;
	box-shadow: inset 1px 2px 3px rgba(245,255,255,0.5);
	border:1px solid #C4C4C4;
}

ul.buttons li:first-child a {
	border-radius: 5px;
}

ul.buttons li:last-child a {
	margin-left:2px;
	border-radius: 5px;
}

ul.buttons li a:hover
{
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
    background-image: -moz-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
    background-image: -ms-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
    background-image: -o-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
    background-image: linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
}

ul.buttons li.selected a, ul.buttons li.selected a:hover {
	position: relative;
	top: 0px;
	font-weight: bold;
	background: #0092D1;
	color: white;
	box-shadow: inset 2px 2px 4px rgba(0,0,0,0.5);
	border:0px;
}

ul.buttons li.selected a:hover
{
	background-image: -webkit-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
	background-image: -moz-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
	background-image: -ms-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
	background-image: -o-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
	background-image: linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
}

.original_operator {
	background-color: orange;
	font-size: .75em;
	padding: 3px;
	width: 320px;
	margin-top: 10px;
}

.original_params {
	background-color: orange;
	font-size: .75em;
	padding: 3px;
	width: 650px;
	margin-top: 40px;
	z-index: 9999
}

.histogram_div {
	text-align: center;
}

.histogram_img_read {
	width: 500px;
	top: -17px;
	position: relative;
}

#histogram_img {
	width: 330px;
	top: -10px;
	position: relative;
	z-index: -1;
}

.alertify-buttons {
	bottom: 0px;
	width: 650px;
}

.leaflet-image-layer {
  display: none;
}

#link {
	width: 650px !important;
	cursor: default;
	resize: none;
	color: #4360ff;
	border: none;
	font-size: 1.2em;
	font-weight: bold;
	height: 20px;
}

#histogram_to_show_div {
	position: absolute;
	top: 10px;
	text-align: center;
	width: 330px;
	font-size: .9em;
	z-index: 999;
}

#helper_number_table {
	width: 100%;
	position: absolute;
	top: 0px;
}

#helper_number_table td{
	text-align:center;
}

.introjs-helperNumberLayer {
	visibility: visible;
	z-index: 9999999999 !important;
	/* padding: 2px; */
	font-family: Arial, verdana, tahoma;
	font-size: 1em;
	font-weight: bold;
	color: white;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(0,0,0,.3);
	background: #506C9C;
	width: 24px;
	height: 21px;
	line-height: 21px;
	border: 3px solid white;
	border-radius: 50%;
	/* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3019', endColorstr='#cf0404', GradientType=0); */
	filter: progid:DXImageTransform.Microsoft.Shadow(direction=135, strength=2, color=ff0000);
	float: left;
	position: absolute;
	top: -10px;
	left: -11px;
	cursor: help;
}

#eems_model_dropdown {
	width:180px;
}

.alertify-button:focus {
	outline: none;
	box-shadow: 0 0 0px #2B72D5 !important;
}

.alertify-button, .alertify-button:hover, .alertify-button:active, .alertify-button:visited {
	margin-left: unset;
}

.expand_collapse_meemse_button {
	cursor:pointer;
}

#expand_meemse_button {
}

#collapse_meemse_button {
	display:none;
}

#canvas_controls {
	position: relative;
	z-index: 9999;
	top: -10px;
	right: 55px;
	opacity: .8;
	float: right;
}

#expand_div {
	position: absolute;
	width: 15px;
	top: 1px;
}

#expand_icon{
	width: 16px;
	cursor: pointer;
}

#collapse_div {
	position: absolute;
	width: 15px;
	top: 1px;
	display: none;
}

#collapse_icon{
	width: 16px;
	cursor: pointer;
}

#save_div{
	position: absolute;
	left: 20px;
}

#save_icon{
	width: 20px;
	cursor: pointer;
}

#info_icon {
	width:15px;
}

#model_info_div {
	font-size: .8em;
	color: #4e4e4e;
	position: relative;
	top: 0px;
	float: left;
	height: 48px;
}

#model_info_header {
	font-weight:bold;
}

#model_info_more {
	font-weight:bold;
	cursor:pointer;
}

.long_description{
	height: 600px;
	margin: 0px 1px 0px 30px;
	overflow-y: scroll;
}

.long_description_header {
	display: inline;
	font-weight: bold;
}

#home {
}


#about {
	display: none;
	height: calc(100% - 160px);
	position: absolute;
	top: 60px;
	padding: 20px 60px 100px 60px;
	font-family: tahoma;
	color: #3C3C3C;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
	width: calc(100% - 140px);
}

#about_contents {
	width: 1010px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0px 0px 20px 2px #595959;
	padding: 40px 50px;
}

#about h2 {
	background-color: #e6e6e6;
	padding: 20px;
	border-radius: 5px;
}

#contact{
	white-space:nowrap;
	display:none;
	height: calc(100% - 160px);
	position: absolute;
	top: 106px;
	padding: 20px 60px 100px 60px;
	font-family: tahoma;
	color: #3C3C3C;
}

figure {
	margin: 30px 10px;
}

figcaption {
	font-size:.8em
}

.screen_capture{
	box-shadow:2px 2px 5px 1px gray;
}

#map_quality {
	width: 92px;
	font-size: 1em;
}

#quality_selector_div {
	font-size: .7em;
	top: 3px;
	position: relative;
	padding: 3px;
	background-color: transparent !important;
	left: 2px;
}

/* Transparency slider */
.ui-opacity {
	display: none;
	background: #FFFFFF;
	position: absolute;
	right: 435px;
	bottom: 33px;
	height: 80px;
	width: 15px;
	border-radius: 5px;
	z-index: 2;
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	background-image: url('../img/transparency2.png');
}

.ui-opacity .handle {
  position:absolute;
  background:#414141;
  left:-5px;
  top:20px;
  /*width:26px;*/
  width:23px;
  height:10px;
  border:1px solid rgba(0,0,0,0.4);
  border-radius:2px;
  cursor:ns-resize;
  }

.ui-opacity .handle:hover {
    background:#595959;
}

#footer{
    font-size:12px;
    font-family:verdana;
    color:#58583D;
    bottom:0px;
    right:0px;
    position:fixed;
    text-align:right;
    z-index:9999999;
    width:101%;
    background-color:#ECECE4;
    margin-left:0px;
    margin-right:0px;
    padding-right:20px;
    padding-top:2px;
    line-height:13px;
    opacity:0.9;
}

table.tableizer-table {
	font-size: 13px;
	border: 1px solid #CCC;
	width: 1000px;
	margin-left: 10px;
}

.tableizer-table td {
    padding: 4px;
    margin: 3px;
    border: 1px solid #CCC;
}

.tableizer-table th {
	background-color: #104E8B;
	color: #FFF;
	font-weight: bold;
	white-space: nowrap;
	padding: 10px;
}

#manual{
	font-size: .5em;
	float: right;
	text-align: right;
	top: -12px;
	position: relative;
	right: -10px;
}

#manual_icon{
	height: 40px;
}

#cbi_logo{
	float: left;
	margin: 20px 20px 20px 0px;
}

