#login_table {
	font-family: tahoma;
	margin-left: auto;
	margin-right: auto;
	top: 70px;
	position: relative;
	background-color: #fff;
}

#login_table td:first-child {
	color: #506C9C;
	font-weight: bold;
	width: 100px;
	text-align: center;
	background-color: #dbe3e7;
}

#login_table td {
	text-align: left;
	padding: 6px;
	vertical-align: top;
	background-color: #E0E0E0;
}

#invalid_login {
	display: none;
	color: #ec4b4b;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	position: relative;
	top: 110px;
	font-family: tahoma;
}
