{% load staticfiles %}
<!DOCTYPE html>
<head>

    <script>

    eems_available_commands = {{ eems_available_commands_dict | safe }}
    eems_online_models_json = {{ eems_online_models_json | safe}}
    initial_eems_model_json = {{ initial_eems_model_json | safe }}



    </script>

    <!-- Leaflet -->
    <link rel="stylesheet" href="https://npmcdn.com/leaflet@1.0.0-rc.1/dist/leaflet.css" />
    <script src="https://npmcdn.com/leaflet@1.0.0-rc.1/dist/leaflet.js"></script>

    <!-- ESRI Leaflet -->
    <script src="https://unpkg.com/esri-leaflet@2.0.3"></script>

    <!-- leaflet.grouped-layer-control-->
    <script src="https://rawgithub.com/ismyrnow/Leaflet.groupedlayercontrol/master/src/leaflet.groupedlayercontrol.js"></script>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.2/leaflet.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.2/leaflet.ie.css" /><![endif]-->

    <!-- CSS -->
    <link href="{% static 'css/base.css' %}" rel="stylesheet" />

    <!-- Jquery NEEDS to be unique for each app. Get new CND link here @ https://code.jquery.com/ -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <!-- Config -->
    <!--
    <script src="{% static 'config/config_ca.js' %}"></script>
    -->

    <!-- JIT Model -->
    <script src="{% static 'eems/json_models/terrestrial_intactness.json' %}"></script>

    <!-- JIT  -->
    <link type="text/css" href="{% static 'js/jit/my_jit/Spacetree.css' %}" rel="stylesheet" />
    <script src="{% static 'deps/jit/Jit-2.0.1/jit.js' %}"></script>
    <script src="{% static 'js/jit/my_jit/Spacetree.js' %}"></script>

    <!-- Alertify  -->
    <link type="text/css" href="{% static 'deps/alertify/alertify.js-0.3.11/themes/alertify.core.css' %}" rel="stylesheet" />
    <link type="text/css" href="{% static 'deps/alertify/alertify.js-0.3.11/themes/alertify.bootstrap.css' %}" rel="stylesheet" />
    <script src="{% static 'deps/alertify/alertify.js-0.3.11/lib/alertify.min.js' %}"></script>

    <!-- JSON EEMS Commands -->
    <script src="{% static 'json/FuncListForMike.json' %}"></script>

</head>
<body>

    <div id="header">
        <div id="title">EEMS Online</div>
        <img id="logo_l" src="{% static 'img/eems_logo.png' %}">
        <img id="logo_r" src="{% static 'img/eems_logo_r.png' %}">
    </div>
    <div id="nav_bar">
        <ul>
            <li><a class="active" href="#home">Home</a></li>
            <li><a href="">Downloads</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="">Contact</a></li>
        </ul>
    </div>

    <div id="map_container">
        <div id="map"></div>
    </div>
    <div id="file_upload_controls">
      <div id="current_file"><b>Current Model:</b>
        <select id="eems_model_dropdown" name="eems_model_dropdown">
          <option value="0"></option>
        </select>
        <div id="user_defined_model"></div>
      </div>
      <div id="disable_div" title="No changes have been made"></div>
      <button id="run_eems_button" class="disabled alertify-button alertify-button-ok">Run</button>
      <!--
      <button id="modify_eems_button" class="alertify-button alertify-button-ok">Modify</button>
      -->
      <label for="files" class="alertify-button alertify-button-ok" id="files_label">
        Browse <img id="open_file" src="{% static '/img/open.svg' %}">
      </label>
      <input type="file" id="files" name="file" style="display:none"/>

    </div>
    <div id="meemse_container">
        <div id="spinner_div">
            <div><img id="spinner_img" src="{% static 'img/spinner.svg' %}"></div>
            <p/>
            <div id="spinner_text">Running EEMS...</div>
        </div>
        <div id="log"></div>
        <div id="infovis"></div>
    </div>

    <!-- Leaflet Map -->
    <script src="{% static 'leaflet/leaflet_map.js' %}"></script>

    <!-- Upload Files -->
    <script src="{% static 'js/file_upload.js' %}"></script>

    <!-- General Javascript -->
    <script src="{% static 'js/general_js.js' %}"></script>

</body>

</>
