{% load staticfiles %}
<!DOCTYPE html>
<head>
    <!-- CSS -->
    <link href="{% static 'css/upload.css' %}" rel="stylesheet" />

    <!-- Jquery NEEDS to be unique for each app. Get new CND link here @ https://code.jquery.com/ -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- Alertify  -->
    <link type="text/css" href="{% static 'deps/alertify/alertify.js-0.3.11/themes/alertify.core.css' %}" rel="stylesheet" />
    <link type="text/css" href="{% static 'deps/alertify/alertify.js-0.3.11/themes/alertify.bootstrap.css' %}" rel="stylesheet" />
    <script src="{% static 'deps/alertify/alertify.js-0.3.11/lib/alertify.min.js' %}"></script>


</head>
<body>
<div id="upload_form">
<div id="spinner_div">
    <div><img id="spinner_img" src="{% static 'img/spinner.svg' %}"></div> <p/>
    <div id="spinner_text">Uploading Model...</div>
</div>
    <table id="upload_table">
        <tr>
            <td colspan="2" id="table_header"> EEMS Model Upload </td>
        </tr>
        <tr>
        <tr>
            <td> EEMS 3.0 Command File </td>
            <td>
                <form id="file-form" method="POST" enctype="multipart/form-data">
                    <input id="the-file" name="file" type="file">
                </form>
            </td>
        </tr>
        <tr>
            <td> User </td><td><input id="owner" type="text" value="CBI" readonly></td>
        </tr>
        <tr>
            <td>Model Name </td><td><input id="model_name" type="text"></td>
        </tr>
        <tr>
            <td>Model Author</td><td><input id="model_author" type="text"></td>
        </tr>
        <tr>
            <td>Creation Date </td><td><input id="creation_date" placeholder="dd/mm/yyyy" type="text"></td>
        </tr>
        <tr>
            <td>Spatial Resolution</td><td><input id="resolution" type="number"> <br><span style="font-size:.7em">Applicable only for FGDB feature class uploads. The units will match the units of the input dastaset's coordinate system.</span></td>
        </tr>
        <!--
        <tr>
            <td>EPSG </td><td><input id="epsg" type="text" ></td>
        </tr>
        <tr>
            <td>Xmin </td><td><input id="xmin" type="text" ></td>
        </tr>
        <tr>
            <td>Ymin </td><td><input id="ymin" type="text"></td>
        </tr>
        <tr>
            <td>Xmax </td><td><input id="xmax" type="text"></td>
        </tr>
        <tr>
            <td>Ymax </td><td><input id="ymax" type="text"></td>
        </tr>
        -->
        <tr>
            <td>Short Description </td><td><textarea  maxlength="365" id="short_description"></textarea></td>
        </tr>
        <tr>
            <td>Long Description </td><td><textarea id="long_description"></textarea></td>
        </tr>
        <tr>
            <td colspan="2"> <input type="button" class="button" name="submit" value="submit" id="submit" /></td>
        </tr>
    </table>
</div>

    <!-- Upload function -->
    <script src="{% static 'js/upload.js' %}"></script>

</body>
</html>